@for $i from 0 through 100 {

	.width-#{5 * $i} {
		width: 0px + 5 * $i;
	}

	.margin-#{$i} {
		margin: 0px + $i;
	}
	.margin-top-#{$i} {
		margin-top: 0px + $i;
	}
	.margin-bottom-#{$i} {
		margin-bottom: 0px + $i;
	}
	.margin-left-#{$i} {
		margin-left: 0px + $i;
	}
	.margin-bottom-#{$i} {
		margin-right: 0px + $i;
	}

	.padding-#{$i} {
		padding: 0px + $i;
	}
	.padding-top-#{$i} {
		padding-top: 0px + $i;
	}
	.padding-bottom-#{$i} {
		padding-bottom: 0px + $i;
	}
	.padding-left-#{$i} {
		padding-left: 0px + $i;
	}
	.padding-bottom-#{$i} {
		padding-right: 0px + $i;
	}

	@for $j from 0 through 100 {

		.margin-#{$i}-#{$j} {
			margin: (0px + $i) (0px + $j);
		}

		.padding-#{$i}-#{$j} {
			padding: (0px + $i) (0px + $j);
		}

	}

	.margin-0-auto {
		margin: 0 auto;
	}
}

$positions: static absolute fixed relative sticky initial inherit;

@each $position in $positions {
	.position-#{$position} {
		position: $position;
	}
}

$displays: inline block flex grid inline-block inline-flex inline-grid inline-table list-item run-in table table-caption table-column-group table-header-group table-footer-group table-row-group table-cell table-column table-row none initial inherit;

@each $display in $displays {
	.display-#{$display} {
		display: $display;
	}
}
