@media screen and (max-width: 1000px) {
	.main-content {
		width: calc(100% - 100px);
		border: 1px solid rgba(0, 0, 0, 0.12);
	}
}
@media screen and (min-width: 1000px) {
	.main-content {
		width: calc(100% - 600px);
		border: 1px solid rgba(0, 0, 0, 0.12);
	}
}
